
   

		<div id="rabbit">
			<h1>
        		DARWIN
      		</h1>

      		<h3>
        		by Joe Aranda
        	</h3>

      <p class="dedication">
        To Francesco Bianco<br />
        from<br />
        The Velveteen Rabbit
      </p>


      <p>
      THERE was once a velveteen rabbit, and in the beginning he was really splendid.  He was fat and bunchy, as a rabbit should be; his coat was spotted brown and white, he had real thread whiskers, and his ears were lined with pink sateen.  On Christmas morning, when he sat wedged in the top of the Boy&#8217;s stocking, with a sprig of holly between his paws, the effect was charming.
      </p>
 

      <p>
      And so the little Rabbit was put into a sack with the old picture-books and a lot of rubbish, and carried out to the end of the garden behind the fowl-house.  That was a fine place to make a bonfire, only the gardener was too busy just then to attend to it.  He had the potatoes to dig and the green peas to gather, but next morning he promised to come quite early and burn the whole lot.
      </p>
      <p>
      That night the Boy slept in a different bedroom, and he had a new bunny to sleep with him.  It was a splendid bunny, all white plush with real glass eyes, but the Boy was too excited to care very much about it.  For to-morrow he was going to the seaside, and that in itself was such a wonderful thing that he could think of nothing else.
      </p>
      <p>
      And while the Boy was asleep, dreaming of the seaside, the little Rabbit lay among the old picture-books in the corner behind the fowl-house, and he felt very lonely.  The sack had been left untied, and so by wriggling a bit he was able to get his head through the opening and look out.  He was shivering a little, for he had always been used to sleeping in a proper bed, and by this time his coat had worn so thin and threadbare from hugging that it was no longer any protection to him.  Near by he could see the thicket of raspberry canes, growing tall and close like a tropical jungle, in whose shadow he had played with the Boy on bygone mornings.  He thought of those long sunlit hours in the garden–how happy they were–and a great sadness came over him.  He seemed to see them all pass before him, each more beautiful than the other, the fairy huts in the flower-bed, the quiet evenings in the wood when he lay in the bracken and the little ants ran over his paws; the wonderful day when he first knew that he was Real.  He thought of the Skin Horse, so wise and gentle, and all that he had told him.  Of what use was it to be loved and lose one&#8217;s beauty and become Real if it all ended like this?  And a tear, a real tear, trickled down his little shabby velvet nose and fell to the ground.
      </p>
      <p>
      And then a strange thing happened.  For where the tear had fallen a flower grew out of the ground, a mysterious flower, not at all like any that grew in the garden.  It had slender green leaves the colour of emeralds, and in the centre of the leaves a blossom like a golden cup.  It was so beautiful that the little Rabbit forgot to cry, and just lay there watching it.  And presently the blossom opened, and out of it there stepped a fairy.
      </p>
      <p>
      She was quite the loveliest fairy in the whole world.  Her dress was of pearl and dew-drops, and there were flowers round her neck and in her hair, and her face was like the most perfect flower of all.  And she came close to the little Rabbit and gathered him up in her arms and kissed him on his velveteen nose that was all damp from crying.
      </p>
      <p>
      &#8220;Little Rabbit,&#8221; she said, &#8220;don&#8217;t you know who I am?&#8221;
      </p>
      <p>
      The Rabbit looked up at her, and it seemed to him that he had seen her face before, but he couldn&#8217;t think where.
      </p>
      <p>
      &#8220;I am the nursery magic Fairy,&#8221; she said.  &#8220;I take care of all the playthings that the children have loved.  When they are old and worn out and the children don&#8217;t need them any more, then I come and take them away with me and turn them into Real.&#8221;
      </p>
      <p>
      &#8220;Wasn&#8217;t I Real before?&#8221; asked the little Rabbit.
      </p>
      <p>
      &#8220;You were Real to the Boy,&#8221; the Fairy said, &#8220;because he loved you.  Now you shall be Real to every one.&#8221;
      </p>



      <p>
      And she held the little Rabbit close in her arms and flew with him into the wood.
      </p>
      <p>
      It was light now, for the moon had risen.  All the forest was beautiful, and the fronds of the bracken shone like frosted silver.  In the open glade between the tree-trunks the wild rabbits danced with their shadows on the velvet grass, but when they saw the Fairy they all stopped dancing and stood round in a ring to stare at her.
      </p>
      <p>
      &#8220;I&#8217;ve brought you a new playfellow,&#8221; the Fairy said.  &#8220;You must be very kind to him and teach him all he needs to know in Rabbit-land, for he is going to live with you for ever and ever!&#8221;
      </p>
      <p>
      And she kissed the little Rabbit again and put him down on the grass.
      </p>
      <p>
      &#8220;Run and play, little Rabbit!&#8221; she said.
      </p>
      <p>
      But the little Rabbit sat quite still for a moment and never moved.  For when he saw all the wild rabbits dancing around him he suddenly remembered about his hind legs, and he didn&#8217;t want them to see that he was made all in one piece.  He did not know that when the Fairy kissed him that last time she had changed him altogether.  And he might have sat there a long time, too shy to move, if just then something hadn&#8217;t tickled his nose, and before he thought what he was doing he lifted his hind toe to scratch it.
      </p>
      <p>
      And he found that he actually had hind legs!  Instead of dingy velveteen he had brown fur, soft and shiny, his ears twitched by themselves, and his whiskers were so long that they brushed the grass.  He gave one leap and the joy of using those hind legs was so great that he went springing about the turf on them, jumping sideways and whirling round as the others did, and he grew so excited that when at last he did stop to look for the Fairy she had gone.
      </p>
      <p>
      He was a Real Rabbit at last, at home with the other rabbits.
      </p>

      <p class="center"> &asymp; </p>

      <p>
      Autumn passed and Winter, and in the Spring, when the days grew warm and sunny, the Boy went out to play in the wood behind the house.  And while he was playing, two rabbits crept out from the bracken and peeped at him.  One of them was brown all over, but the other had strange markings under his fur, as though long ago he had been spotted, and the spots still showed through.  And about his little soft nose and his round black eyes there was something familiar, so that the Boy thought to himself:
      </p>
      <p>
      &#8220;Why, he looks just like my old Bunny that was lost when I had scarlet fever!&#8221;
      </p>
      <p>
      But he never knew that it really was his own Bunny, come back to look at the child who had first helped him to be Real.
      </p>
      <p class="center">THE END</p>
    </div>
</div>


