body {
		background-image:url("wood.jpg");
	background-repeat:repeat;
}

#container {
	 	background-image:url("masonite.png");
	background-repeat:repeat;
	position: absolute;
  left: 0;
	width: 400px;
	height: 600px; 
  top: 20px;
  bottom: 20px;
  right: 15px;
	margin: 5px auto;
  -webkit-box-shadow: 8px 8px 8px black;
  -moz-box-shadow: 8px 8px 8px black;
  -webkit-border-bottom-left-radius: 26px 26px;
  -webkit-border-bottom-right-radius: 26px 6px;
  -moz-border-radius-bottomleft: 26px 26px;
  -moz-border-radius-bottomright: 26px 26px;
 
}

      #rabbit p {
        line-height: 200%;
      }
      #rabbit img {
        max-width: 98%;
        max-height: 98%;
        -webkit-column-break-before: always;
      }
      #rabbit .dedication {
        text-align: center;
        font-style: italic;
        margin: 16em 0 10em;
      }
      #rabbit .center {
        text-align: center;
      }
      #rabbit h1, #rabbit h2, #rabbit h3 {
        text-align: center;
      }
      #rabbit h1 small {
        font-size: 85%;
        font-variant: small-caps;
      }
      #rabbit h2 {
        margin-bottom: 3em;
        font-weight: normal;
      }
      #rabbit h2 small {
        font-size: 85%;
        font-style: italic;
      }
 #rabbit {
	background-color: #FAF4E6;;
  position: absolute;
  width: 363px;
  height: 100%;
}
@media screen and (min-width: 800px) {
  #rabbit, #rabbit {
	background-color:#FAF4E6;;
    max-width: 400px;
    max-height: 600px;
  }
}

